PORT=5000
JWT_SECRET=jhasjfdfhs24235
NODE_ENV=development
MONGO_URI=mongodb+srv://db_user:pass@mms-cluster-0.xramyre.mongodb.net/?appName=Mms-cluster-0
FRONT_END_URL=http://localhost:3000
BACK_END_URL=http://localhost:5000